/* /Layout/MainLayout.razor.rz.scp.css */
.header[b-ijo1xk1hpq] {
    width: 100%;
    overflow: hidden;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.header h1[b-ijo1xk1hpq] {
    align-self: center;
    justify-self: center;
    text-align: center;
    font-weight: 800;
}

.header h5[b-ijo1xk1hpq] {
    text-align: center;
    margin: 0 auto;
}

.header h1:focus[b-ijo1xk1hpq] {
    outline: none;
}

.footer[b-ijo1xk1hpq] {
    width: 100%;
    overflow: hidden;
    height: 20vh;
    background-color: #45616A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
}
/* /Models/SelectTable.razor.rz.scp.css */
.st[b-78b9vlhvqe] {
    margin: auto;
}

.stcontainer[b-78b9vlhvqe] {
    justify-self: center;
    background-color: #233439;
    display: flex; 
    flex-flow: column;
}

.tablecontainer[b-78b9vlhvqe] {
    overflow: auto;
    scrollbar-width: none;
}

.topcol[b-78b9vlhvqe] {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: fit-content;
}

.podium[b-78b9vlhvqe] {
    aspect-ratio: 2;
    align-content: center;
    background-color: #45616A;
}

    .podium p[b-78b9vlhvqe] {
        text-align: center;
        margin: auto;
        font-weight: 800;
        user-select: none;
    }

.button[b-78b9vlhvqe] {
    margin-top: 0;
    aspect-ratio: 2;
    background-color: #45616A;
    align-content: center;
    position: absolute;
    transition: background-color 0.1s, transform 0.2s;
}

    .button p[b-78b9vlhvqe] {
        text-align: center;
        margin: auto;
        font-weight: 800;
        user-select: none;
    }

    .button:active[b-78b9vlhvqe] {
        background-color: #3E574F;
    }

@media (max-width: 600.5px) {
    .stcontainer[b-78b9vlhvqe] {
        padding: 1rem;
        border-radius: 1rem;
        max-height: 75vh;
        margin-bottom: 1.5rem;
        max-width: 90vw;
    }

    .podium[b-78b9vlhvqe] {
        margin: 0 0 0.75rem 0;
        width: 3.75rem;
        border-radius: 0.375rem;
    }

        .podium p[b-78b9vlhvqe] {
            font-size: 0.9375rem;
        }

    .button[b-78b9vlhvqe] {
        width: 3.75rem;
        right: 0.1875rem;
        margin: 0 0 0.75rem 0;
        border-radius: 0.375rem;
    }

        .button p[b-78b9vlhvqe] {
            font-size: 0.9375rem;
        }
}

@media (min-width: 600.5px) {
    .stcontainer[b-78b9vlhvqe] {
        padding: 2rem;
        border-radius: 2rem;
        max-height: 75vh;
        max-width: 75vw;
        margin-bottom: 1.5rem;
    }

    .podium[b-78b9vlhvqe] {
        margin: 0 0 1rem 0;
        width: 5rem;
        border-radius: 0.5rem;
    }

        .podium p[b-78b9vlhvqe] {
            font-size: 1.25rem;
        }

    .button[b-78b9vlhvqe] {
        width: 5rem;
        right: 0.25rem;
        margin: 0 0 1rem 0;
        border-radius: 0.5rem;
    }

        .button p[b-78b9vlhvqe] {
            font-size: 1.25rem;
        }

        .button:hover[b-78b9vlhvqe] {
            transform: scale(1.05);
        }
}
/* /Models/SelectTableElement.razor.rz.scp.css */
.element[b-kkh6cxf6i8] {
    aspect-ratio: 1;
    justify-content: space-evenly;
    display: flex;
    flex-flow: column;
    background-color: #45616A;
    transition: background-color 0.25s, transform 0.25s;
}
.chose[b-kkh6cxf6i8] {
    background-color: #3E574F;
}


.deactived[b-kkh6cxf6i8] {
    background-color: #5A5A5A;
}

p[b-kkh6cxf6i8] {
    margin: 0;
    text-align: center;
    user-select: none;
}

@media (min-width: 600.5px) {
    .element[b-kkh6cxf6i8] {
        width: 5rem;
        margin: 0.25rem;
        border-radius: 0.5rem;
    }

    .actived:hover[b-kkh6cxf6i8] {
        transform: scale(1.05);
    }

    p[b-kkh6cxf6i8] {
        font-size: 1.15rem;
    }

}

@media (max-width: 600.5px) {
    .element[b-kkh6cxf6i8] {
        width: 3.75rem;
        margin: 0.1875rem;
        border-radius: 0.375rem;
    }

    p[b-kkh6cxf6i8] {
        font-size: 0.8625em;
    }
}
/* /Models/UriSeatElement.razor.rz.scp.css */
.seatrect[b-gr643r4jtw] {
    aspect-ratio: 1;
    width: 4.25rem;
    padding: 0.5rem;
    margin: 0.25rem;
    background-color: #45616A;
    border-radius: 0.5rem;
    text-align: center;
    align-content: center;
    user-select: none;
}
.chose[b-gr643r4jtw] {
    background-color: #5A5A5A;
}
/* /Pages/404.razor.rz.scp.css */
.border[b-w7p8bn9fy8] {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: grid;
    flex-direction: column;
}

.border h2[b-w7p8bn9fy8] {
    justify-self: center;
    align-self: center;
    text-align: center;
}
/* /Pages/DistributePage.razor.rz.scp.css */
@media (min-width: 1186.5px) {
    .resalert[b-7bzsxvltpb] {
        visibility: hidden;
    }
}

.tablecontainer[b-7bzsxvltpb] {
    aspect-ratio: 1;
    height: 96vh;
    display: flex;
    flex-flow: column;
}

    .tablecontainer .fronttablestr[b-7bzsxvltpb] {
        align-self: center;
        background-color: #45616A;
        padding: 1rem;
        border-radius: 0.5rem;
    }

    .tablecontainer table[b-7bzsxvltpb] {
        margin: 0 auto;
    }

.subtc[b-7bzsxvltpb] {
    aspect-ratio: 1;
    height: 100%;
    align-content: center;
    overflow: auto;
    scrollbar-width: none;
}

.seatRect[b-7bzsxvltpb] {
    width: 6.5em;
    height: 6.5em;
    background-color: #45616A;
    margin: 7.5px;
    display: block;
    align-content: center;
    border-radius: 10px;
}

    .seatRect p[b-7bzsxvltpb] {
        font-family: Consolas, Courier New, Courier, monospace;
        color: #E5E5E5;
        text-align: center;
        font-size: 22.5px;
        font-weight: bolder;
        margin: 5px;
    }

    .seatRect .stunum[b-7bzsxvltpb] {
        font-size: 35px;
        display: block;
        color: #E5E5E5;
        height: 40px;
        offset-anchor: 50% 50%;
        margin-top: -15px;
        margin-bottom: 15px;
    }

    .seatRect .stuinfo[b-7bzsxvltpb] {
        color: #E5E5E5;
        font-size: 10px;
        text-align: center;
    }

.inda[b-7bzsxvltpb] {
    height: 25vh;
    resize: none;
}

.logli[b-7bzsxvltpb] {
    height: 90vh;
    width: 19.8vw;
    margin: 0;
}

#logl[b-7bzsxvltpb] {
    max-width: 95%;
    height: 95%;
    overflow: auto;
    scrollbar-width: none;
}

.outstr[b-7bzsxvltpb] {
    height: 20vh;
    resize: none;
}

.inputs[b-7bzsxvltpb] {
    margin: 20vh auto;
}

.fullvhcontainer[b-7bzsxvltpb] {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100vh;
}

.podium[b-7bzsxvltpb] {
    margin: 1rem 0;
    width: 5rem;
    border-radius: 0.5rem;
    aspect-ratio: 2;
    align-content: center;
    background-color: #45616A;
}

    .podium p[b-7bzsxvltpb] {
        text-align: center;
        margin: auto;
        font-weight: 800;
        user-select: none;
        font-size: 1.25rem;
    }
/* /Pages/DistributePage2.razor.rz.scp.css */
@keyframes popup-b-nfs1nkwrxj {
    0% {
        background-color: #45616A;
    }
    50% {
        background-color: #3E574F;
    }
    100% {
        background-color: #45616A;
    }
}


.topgroup[b-nfs1nkwrxj] {
    height: 80vh;
    display: flex;
    margin-bottom: 5rem;
}

.inputgroup[b-nfs1nkwrxj] {
    margin: 0.5rem 1rem;
    border: 1px solid;
    height: 100%;
    width: contain;
    padding: 0.5em;
    border-radius: 0.5em;
    align-content: center;
    display: flex;
    flex-direction: column;
}

    .inputgroup .inputgroup-text[b-nfs1nkwrxj] {
        margin: 0 auto;
        font-size: 1.25rem;
        padding: 0.5rem;
        width: fit-content;
    }

    .inputgroup .inputgroup-input[b-nfs1nkwrxj] {
        height: 2.5rem;
        background-color: transparent;
        border: 1px solid;
        border-radius: 0.25rem;
        font-size: 1.1rem;
        padding: 0.5rem;
        margin: auto;
    }

    .inputgroup .checkbx[b-nfs1nkwrxj] {
        height: 1.25rem;
        aspect-ratio: 1;
    }

    .inputgroup .inputgroup-textarea[b-nfs1nkwrxj] {
        background-color: transparent;
        width: 25rem;
        height: 100%;
        border-radius: 0.25rem;
        resize: none;
        tab-size: 2;
        scrollbar-width: none;
        padding: 0 0.25rem;
    }

.inputgroups[b-nfs1nkwrxj] {
    border: 2px solid;
    width: fit-content;
    border-radius: 1.5rem;
    display: grid;
    margin: 3rem auto;
    grid-template-rows: 1fr 9fr 1fr;
}

    .inputgroups .inputgroups-title[b-nfs1nkwrxj] {
        align-self: center;
        width: 100%;
        height: 4rem;
        border: solid;
        border-width: 0 0 2px 0;
        display: flex;
        grid-column-start: 1;
        grid-column-end: 3;
    }

        .inputgroups .inputgroups-title span[b-nfs1nkwrxj] {
            justify-self: center;
            align-self: center;
            margin: auto;
            height: fit-content;
            width: 100%;
            padding: 0;
            text-align: center;
            font-size: 1.25rem;
        }

    .inputgroups .inputgroups-cell-row[b-nfs1nkwrxj] {
        display: flex;
        flex-flow: row;
        overflow: auto;
        border: 1px solid;
    }

    .inputgroups .inputgroups-cell-col1[b-nfs1nkwrxj] {
        display: flex;
        flex-flow: column;
        grid-row: 2;
        overflow: auto;
        scrollbar-width: none;
    }
    .inputgroups .inputgroups-cell-col2[b-nfs1nkwrxj] {
        display: flex;
        flex-flow: column;
        grid-row: 2;
        overflow: auto;
        scrollbar-width: none;
    }

.summonbtn[b-nfs1nkwrxj] {
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
    aspect-ratio: 1.75;
    background-color: #45616A;
    align-content: center;
    transition: background-color 0.1s, transform 0.2s;
    align-self: center;
    width: 6rem;
    border-radius: 0.6rem;
    text-align: center;
    user-select: none;
    margin: 1.25rem;
    grid-row: 3;
}

    .summonbtn:hover[b-nfs1nkwrxj] {
        transform: scale(1.05);
    }

    .summonbtn:active[b-nfs1nkwrxj] {
        background-color: #3E574F;
    }

.mapborder[b-nfs1nkwrxj] {
    border: 2px solid;
    border-radius: 1.5rem;
    height: 100vh;
    aspect-ratio: 1;
    margin: 0 auto;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: row;
}

.mapborder .map[b-nfs1nkwrxj] {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

    .mapborder .map .map-container[b-nfs1nkwrxj] {
        width: 100%;
        height: 100%;
        aspect-ratio: 1;
        overflow: auto;
        scrollbar-width: none;
    }
        .mapborder .map .map-container table[b-nfs1nkwrxj] {
            margin: auto;
            align-self: center;
        }
.dsmaprect[b-nfs1nkwrxj] {
    aspect-ratio: 1;
    width: 7.5rem;
    background-color: #45616A;
    margin: 0.25rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    user-select: none;
    transition: background-color 0.2s;
}

    .dsmaprect span[b-nfs1nkwrxj] {
        display: block;
        text-align:center;
        padding-top: 0.5rem;
        font-size: 1.25rem;
    }

    .dsmaprect p[b-nfs1nkwrxj] {
        font-size: 2.5rem;
        text-align: center;
        margin: 0;
        height: 4rem;
    }

.forbidden[b-nfs1nkwrxj] {
    background-color: #5A5A5A;
}

    .forbidden p[b-nfs1nkwrxj] {
        font-size: 1.75rem;
    }

.podium[b-nfs1nkwrxj] {
    aspect-ratio: 2;
    align-content: center;
    background-color: #45616A;
    text-align: center;
    margin: auto;
    font-weight: 800;
    user-select: none;
    margin: 0 0 1rem 0;
    width: 5rem;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    align-self: center;
}

.log[b-nfs1nkwrxj] {
    border: 1px solid;
    width: contain;
    margin: 0.5rem;
    border-radius: 0.5rem;
    overflow: auto;
    scrollbar-width: none;
    padding: 0.5rem;
}

.popupani[b-nfs1nkwrxj] {
    background-color: #3E574F;
}

.rightpanel[b-nfs1nkwrxj] {
    margin: 1.5rem;
    width: 30rem;
    padding: 0.5rem;
    display: grid;
    grid-template-rows: 2fr 1fr;
}

.rightpanel textarea[b-nfs1nkwrxj] {
    width: contain;
    margin: 0.5rem;
    text-align: center;
    background-color: transparent;
    border-radius: 0.5rem;
    border: 1px white solid;
}

@media (max-width: 1329.5px) {
    .inputgroups .inputgroups-title span[b-nfs1nkwrxj]::after {
        content: "!此網頁螢幕寬度至少大於1330px!";
        margin: 0 1rem;
        background-color: #8D3522;
        padding: 0.3rem;
    }
}
/* /Pages/Home.razor.rz.scp.css */
.bg[b-wja409q0hn] {
    position: relative;
    scrollbar-width: none;
    overflow: auto;
    padding: 2rem 0;
    display: flex;
}

.bd[b-wja409q0hn] {
    height: fit-content;
    width: fit-content;
    margin: auto;
    background-color: #34545E;
}

h3[b-wja409q0hn], h5[b-wja409q0hn] {
    text-align: center;
}

.btngroup[b-wja409q0hn] {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 0;
}

.button[b-wja409q0hn] {
    background: #45616A;
    text-align: center;
    aspect-ratio: 3;
    align-content: center;
    display: block;
    transition: transform 0.2s, background-color 0.2s;
    user-select: none;
}

    .button:hover[b-wja409q0hn] {
        transform: scale(1.025);
    }

    .button:active[b-wja409q0hn] {
        background-color: #3E574F;
    }

#selectbtn[b-wja409q0hn] {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    font-weight: 600;
}

#distributebtn[b-wja409q0hn] {
    display: flex;
    flex-direction: column;
    grid-row: 2;
}

#urisummonbtn[b-wja409q0hn] {
    grid-row: 2;
}

@media (max-width: 600.5px){
    h3[b-wja409q0hn] {
        font-size: 1.3rem;
    }
    h5[b-wja409q0hn] {
        font-size: 1rem;
    }

    .bg[b-wja409q0hn] {
        height: 60vh;
        width: 100vw;
    }

    .bd[b-wja409q0hn] {
        border-radius: 1rem;
        padding: 1.4rem;
    }

    .btngroup[b-wja409q0hn] {
        margin: 0.5rem;
    }

    .button[b-wja409q0hn] {
        margin: 0.25rem;
        padding: 0.5rem;
        border-radius: 0.5rem;
        font-size: 0.9rem;
    }

    #selectbtn[b-wja409q0hn] {
        font-size: 1.25rem;
    }
}

@media (min-width: 600.5px) {
    .bg[b-wja409q0hn] {
        height: 60vh;
        width: 100%;
    }

    .bd[b-wja409q0hn] {
        border-radius: 1rem;
        padding: 2rem;
    }

    .btngroup[b-wja409q0hn] {
        margin: 1rem;
    }

    .button[b-wja409q0hn] {
        margin: 0.5rem;
        padding: 1rem;
        border-radius: 1rem;
    }

    #selectbtn[b-wja409q0hn] {
        font-size: 2rem;
    }
}
/* /Pages/SelectPage.razor.rz.scp.css */
.p[b-2ke32dsxzi] {
    text-align: center;
}

.button[b-2ke32dsxzi] {
    aspect-ratio: 2;
    background-color: #45616A;
    align-content: center;
    transition: background-color 0.1s, transform 0.2s;
    justify-self: center;
}

    .button p[b-2ke32dsxzi] {
        text-align: center;
        margin: auto;
        font-weight: 800;
        user-select: none;
    }

    .button:active[b-2ke32dsxzi] {
        background-color: #3E574F;
    }

.resultstr[b-2ke32dsxzi] {
    border: 0.2rem #233439 solid;
    text-align: center;
    overflow-y: auto;
    overflow-wrap: anywhere;
    scrollbar-width: none;
    justify-self: center;
    align-content: center;
}

    .resultstr p[b-2ke32dsxzi] {
        user-select: all;
    }

.frame[b-2ke32dsxzi] {
    justify-self: center;
    display: block;
    border: 1px solid;
    overflow: hidden;
}

@media (max-width: 600.5px) {
    .p[b-2ke32dsxzi] {
        font-size: 1rem;
        padding: 0 5vw;
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
    }

    .button[b-2ke32dsxzi] {
        width: 3.75rem;
        right: 0.1875rem;
        margin-bottom: 1.5rem;
        border-radius: 0.375rem;
    }

        .button p[b-2ke32dsxzi] {
            font-size: 0.9375rem;
        }

    .resultstr[b-2ke32dsxzi] {
        width: 90vw;
        height: 30vh;
        border-radius: 1rem;
        padding: 0 1rem;
        margin-bottom: 1.5rem;
    }

    .frame[b-2ke32dsxzi] {
        width: 90vw;
        height: 60vh;
        margin-bottom: 1.5rem;
        border-radius: 1rem;
    }
}

@media (min-width: 600.5px) {
    .p[b-2ke32dsxzi] {
        font-size: 1.4rem;
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
    }

    .button[b-2ke32dsxzi] {
        width: 5rem;
        right: 0.25rem;
        margin-bottom: 1.5rem;
        border-radius: 0.5rem;
    }

        .button p[b-2ke32dsxzi] {
            font-size: 1.25rem;
        }

        .button:hover[b-2ke32dsxzi] {
            transform: scale(1.05);
        }

    .resultstr[b-2ke32dsxzi] {
        width: 50vw;
        height: 20vh;
        border-radius: 2rem;
        padding: 0 2rem;
        margin-bottom: 1.5rem;
    }

    .frame[b-2ke32dsxzi] {
        width: 50vw;
        height: 50vh;
        margin-bottom: 1.5rem;
        border-radius: 2rem;
    }
}
/* /Pages/UriSummonPage.razor.rz.scp.css */
.bg[b-zg7f7bmqt7] {
    height: 80vh;
    overflow: auto;
    scrollbar-width: none;
    display: grid;
}

.map[b-zg7f7bmqt7] {
    justify-self: center;
    align-self: center;
    height: 45rem;
    aspect-ratio: 1.5;
    border: 2px solid;
    border-radius: 1rem;
    margin: 1rem;
    display: grid;
    grid-auto-rows: 1fr 1fr 8fr 1fr;
}

.ctrls[b-zg7f7bmqt7] {
    height: stretch;
    grid-row: 1;
    border: solid;
    border-width: 0 0 2px 0;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1.25fr;
}

.lowerctrl[b-zg7f7bmqt7] {
    border-width: 0 0 0 0;
    grid-template-columns: 1fr 1fr;
}

.ctrls .ctrl[b-zg7f7bmqt7] {
    width: stretch;
    height: contain;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px solid;
    border-radius: 0.5rem;
    align-items: center;
    display: grid;
    overflow: auto;
    scrollbar-width: none;
    grid-template-columns: 1fr 1.75fr;
}

.ctrls .bctrl[b-zg7f7bmqt7] {
    grid-template-columns: 1fr 3.5fr;
}

    .ctrls .ctrl span[b-zg7f7bmqt7] {
        margin: 0;
        margin-right: 0.5rem;
    }
    .ctrls .ctrl input[b-zg7f7bmqt7] {
        width: 100%;
        background-color: transparent;
        border: 1px solid;
        border-radius: 0.25rem;
        text-align: center;
    }

.podium[b-zg7f7bmqt7] {
    grid-row: 2;
        height: fit-content;
        padding: 1rem;
        text-align: center;
        border-radius: 0.5rem;
        background-color: #45616A;
        margin: 0.5rem auto;
}
.tbc[b-zg7f7bmqt7] {
    width: 100%;
    grid-row: 3;
    overflow: auto;
    scrollbar-width: none;
    margin: 0.5rem;
}

.tbc table[b-zg7f7bmqt7] {
    margin: auto;
    align-self: center;
}


.summon[b-zg7f7bmqt7] {
    border: solid;
    border-width: 2px 0 0 0;
}
